## Importações

In [3]:
import pandas as pd
import glob

## Pré-tratamento

In [4]:
jan_22 = pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_01.csv',sep=';', encoding='latin-1')
jan_22['mes'] = 'jan'
jan_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_01.csv',sep=';', encoding='latin-1', index=None)

In [5]:
fev_22 = pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_02.csv',sep=';', encoding='latin-1')

fev_22['mes'] = 'fev'
fev_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_02.csv',sep=';', encoding='latin-1', index=None)

In [6]:
mar_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_03.csv',sep=';', encoding='latin-1')

mar_22['mes'] = 'mar'
mar_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_03.csv',sep=';', encoding='latin-1', index=None)

In [7]:
abri_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_04.csv',sep=';', encoding='latin-1')

abri_22['mes'] = 'abril'
abri_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_04.csv',sep=';', encoding='latin-1', index=None)

In [8]:
mai_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_05.csv',sep=';', encoding='latin-1')

mai_22['mes'] = 'mai'
mai_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_05.csv',sep=';', encoding='latin-1', index=None)

In [9]:
jun_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_06.csv',sep=';', encoding='latin-1')

jun_22['mes'] = 'jun'
jun_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_06.csv',sep=';', encoding='latin-1', index=None)

In [10]:
jul_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_07.csv',sep=';', encoding='latin-1')

jul_22['mes'] = 'jul'
jul_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_07.csv',sep=';', encoding='latin-1', index=None)

In [11]:
ago_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_08.csv',sep=';', encoding='latin-1')

ago_22['mes'] = 'ago'
ago_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_08.csv',sep=';', encoding='latin-1', index=None)

In [12]:
set_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_09.csv',sep=';', encoding='latin-1')

set_22['mes'] = 'set'
set_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_09.csv',sep=';', encoding='latin-1', index=None)

In [13]:
out_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_10.csv',sep=';', encoding='latin-1')

out_22['mes'] = 'out'
out_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_10.csv',sep=';', encoding='latin-1', index=None)

In [14]:
nov_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_11.csv',sep=';', encoding='latin-1')

nov_22['mes'] = 'nov'
nov_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_11.csv',sep=';', encoding='latin-1', index=None)

In [15]:
dez_22 =  pd.read_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_12.csv',sep=';', encoding='latin-1')

dez_22['mes'] = 'dez'
dez_22.to_csv('armas/porte_armas_2022/SINARM_PORTES_ARMA_EXPEDIDOS_2022_12.csv',sep=';', encoding='latin-1', index=None)

## Transformação em parquet

In [16]:
files = glob.glob('armas/porte_armas_2022/*.csv')
port_br = pd.concat([pd.read_csv(fp, encoding='latin-1', sep=';') for fp in files])

In [19]:
port_br.to_parquet('armas/porte_de_armas_porcategoria_br_2022.parquet')

In [20]:
port_br

    UF                CATEGORIA ABRANGENCIA  TOTAL  mes
0   AC  Caçador de Subsistência         NaN      2  out
1   AC           Defesa Pessoal    Estadual      4  out
2   AL           Defesa Pessoal    Estadual     11  out
3   AM                Funcional    Estadual     33  out
4   BA           Defesa Pessoal    Estadual      8  out
..  ..                      ...         ...    ...  ...
57  SP                Funcional    Estadual    435  mar
58  SP                Funcional         NaN      4  mar
59  SP     Segurança Dignitario    Nacional      2  mar
60  TO           Defesa Pessoal    Estadual      1  mar
61  TO                Funcional    Estadual      4  mar

[780 rows x 5 columns]